@section Styles {
    <link rel="stylesheet" href="~/css/agendamento.css" />
}

<div id="pagina" data-atendimento="@ViewBag.Atendimento">

    <h2>Agendar Serviço</h2>

    <form method="post" action="/Agendamento/Salvar">

        <input type="hidden" name="servicoId" value="@ViewBag.ServicoId" />
        <input type="hidden" name="hora" id="horaSelecionada" />

        <label>Escolha a data:</label>
        <input type="date" name="data" value="@ViewBag.Data.ToString("yyyy-MM-dd")"
               min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(30).ToString("yyyy-MM-dd")"
               onchange="location.href='?servicoId=@ViewBag.ServicoId&data=' + this.value" required />

        <h3>Horários disponíveis</h3>

        <div class="grid-horarios">
            @foreach (var hora in ViewBag.Horarios)
            {
                bool ocupado = ViewBag.Ocupados.Contains(hora);

                if (ocupado)
                {
                    <div class="slot ocupado">
                        @hora.ToString(@"hh\:mm")
                    </div>
                }
                else
                {
                    <div class="slot livre" onclick="selecionarHora('@hora', this)">
                        @hora.ToString(@"hh\:mm")
                    </div>
                }
            }
        </div>

        <br />

        <label>Descrição:</label>
        <textarea name="descricao"></textarea>

        <br />

        <div id="enderecoDiv" style="display:none;">
            <label>Endereço:</label>
            <input type="text" name="enderecoCliente" placeholder="Digite seu Endereço" />
        </div>

        <button type="submit">Confirmar Agendamento</button>

    </form>

</div>
@section Scripts {
    <script src="~/js/agendamento.js"></script>
}